doctype html
    html
        head
            link(rel="stylesheet", href="http://use.fontawesome.com/releases/v5.5.0/css/all.css", crossorigin="annonymous")
            title   Juntube
        body
            main
                block content
            footer
                span &copy: Juntube