extends layouts/main
include mixins/videoBLock

block content
    .videos
        each video in videos
            +videoBlock({
                title:item.title,
                description:item.description
            })